# ==================================================
# SPRING BOOT
# ==================================================
SPRING_PROFILES_ACTIVE=SPRING_PROFILES_ACTIVE
SERVER_PORT=SERVER_PORT
CATALOG_HOST_PORT=CATALOG_HOST_PORT

# ==================================================
# MONGODB
# ==================================================
MONGODB_URI=MONGODB_URI
MONGO_DATABASE=MONGO_DATABASE
MONGO_PORT=MONGO_PORT

# ==================================================
# KEYCLOAK / JWT
# ==================================================
# Debe coincidir con el issuer presente en los JWT.
KEYCLOAK_ISSUER_URI=KEYCLOAK_ISSUER_URI
JWT_ROLES_CLAIM=JWT_ROLES_CLAIM
JWT_ROLES_PREFIX=JWT_ROLES_PREFIX

# ==================================================
# AWS / LOCALSTACK
# ==================================================
AWS_REGION=AWS_REGION
AWS_ACCESS_KEY_ID=AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=AWS_SECRET_ACCESS_KEY
AWS_SQS_ENDPOINT=AWS_SQS_ENDPOINT
LOCALSTACK_PORT=LOCALSTACK_PORT

# ==================================================
# LOCALSTACK SERVICES
# ==================================================
SERVICES=SERVICES